<div class="noHeaderColumns">
  <div class="row">
    <div class="col-md-6">
      <h2>Please sign up etc...</h2>
      <p>Design as if your fucking life depended on it. When you sit down to work, external critics aren’t the enemy. It’s you who you must to fight against to do great fucking work. You must overcome yourself. Don’t fucking lie to yourself. </p>
      <p>Use your fucking hands. If you fucking give up, you will achieve nothing. Respect your fucking craft. Your rapidograph pens are fucking dried up, the x-acto blades in your bag are rusty, and your mind is dull. Stop clicking your mouse, get messy,</p>
    </div>

    <div class="col-md-6">
      <div class="content">
        <form class="m-t-15" {{action "signup" on="submit"}}>
          <div class="form-group" >
            {{text-field value=username placeholderKey="user.handle.title" id="username" data-parsley-trigger="change" required="required" autofocus="true" data-parsley-minlength="3"}}
          </div>
          <div class="form-group">
            {{text-field type="email" value=email placeholderKey="user.email.title" id="email" data-parsley-trigger="change" required="required"}}
          </div>
          <div class="form-group">
            {{password-field value=password placeholderKey="user.password.title" id="password" capslockOn=capslockOn data-parsley-trigger="change" data-parsley-minlength="6" required="required"}}
          </div>
          {{#if isWorking}}
          <button class="btn btn-default btn-block" disabled><span class="loading-indicator--white"><i></i><i></i><i></i></span> {{t "login"}}</button>
          {{else}}
            <button class="btn btn-default btn-block" disabled={{isWorking}}>{{t "signup"}}</button>
          {{/if}}
        </form>
        {{#if errorMessage}}
          <p>Error: <b>{{errorMessage}}</b></p>
        {{/if}}
        {{#if responseMessage}}
          <p>{{responseMessage}}</p>
        {{/if}}
      </div>
    </div>

  </div>
</div>

